.calendarHeaderContainer {
    background:#ffffff;
    padding-bottom:0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.5rem;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarHeaderTitleClinic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.calendarHeaderControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

lightning-modal {
    width: 50vw;
    max-width: 50vw;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    position: relative !important;
}

.slds-button.slds-button_icon.slds-modal__close {
    display: none;
}

.slds-modal__header {
    padding: 1rem 1.5rem !important;
}

.slds-modal__header .slds-grid {
    width: 100%;
}

.calendarModalExitButton > button {
    position: relative;
    top: 12%;
}
